@model Models.Repl


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    @Html.HiddenFor(p => p.Id)
    @Html.HiddenFor(p => p.Text)
    @Html.HiddenFor(p => p.CommentId)

    <p>

        Reply: @Html.DisplayFor(p => p.Text))
    </p>
    <div>
        @Html.TextAreaFor(p => p.Text, new { @class = "news-item-input-field", @id = "news-item" })
    </div>
    <p>
        <button class="button-Save" onclick="document.location='/Home/EditPost/@Model'">Save</button>
        <button type="submit" class="button-Cancel">@Html.ActionLink("Cancel", null, null, null, new { href = Request.UrlReferrer })</button>
    </p>
}